* {
    box-sizing: border-box;
}

body {
    background-image: url("https://i.pinimg.com/originals/f8/e6/50/f8e6504ea39163daee928a1ee94fb056.jpg");
    color: white;
}

#modal {
    position: absolute;
    top: 15%;
    right: 15%;
    bottom: 15%;
    left: 20%;
    background-image: url("https://www.castlerock.ru/upload/resize_cache/iblock/74c/1140_452_2/74c76c81dc501efb5e928a184c6d729f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    font-size: 25px;
}

#modal .btn-close {
    position: absolute;
    bottom: 0;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    color: white;
    width: 70px;
    border: none;
    background-color: brown;
    text-decoration: none;
    cursor: pointer;
}

#modal .btn-close:hover, .dismissButton:hover {
    color: goldenrod;
}

.dismissButton {
    color:white;
    background-color: brown;
}

.hide {
    display: none;
}

#map {
    height: 70%;
    width: 70%;
    top: 5%;
    right: 15%;
    bottom: 15%;
    left: 15%;
}

#modal-content img {
    width: 60px;
    margin: 5px;
}

.row-container {
    border: 2px solid brown;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px;
    width: 270px;
    font-size: 20px;
    transition: width 1s;
}
.row-container button {
    float: right;
    font-size: 16px;
    width: 90px;
    padding: 3px;
    border: none;
    color: white;
    background-color: brown;
    text-decoration: none;
    cursor: pointer;
}

.row-container button:hover {
    color: gold;
}

.row-container:hover {
    border-color: goldenrod;
    width: 285px;
}

#error-container, #root {
    font-size: 25px;
    font-weight: bold;
}

#csv-container {
    font-size: 20px;
}

#csv-container button {
    color: white;
    background-color: brown;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 70px;
    padding: 3px;
}

header {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 2px solid goldenrod;
}

section {
    height: 800px;
}

footer {
    font-size: 20px;
    font-weight: bold;
    padding: 25px 5px;
    border-top: 2px solid goldenrod;
}
